@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}
h2 {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	font-weight: 700;
	color: #2C2C2C;
	text-align: center;
	text-decoration: none;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	font-size: 27px;
	line-height: 180%;
	text-align: justify;
}
a{
  text-decoration: none;
}
figcaption{
margin-left: 0;
padding-left: 0; 
}
.neon {
  margin: 0 auto;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #87ceeb, 0 0 15px #87ceeb, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 30px deepskyblue, 0 0 40px deepskyblue, 0 0 50px deepskyblue, 0 0 60px deepskyblue, 0 0 70px deepskyblue, 0 0 80px deepskyblue, 0 0 90px deepskyblue, 0 0 100px skyblue;
}
.image{
	width: 300px;
	height: 400px;
	padding-left: 150px;
	padding-top: 20px;
}
img {
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../img/header.jpg) no-repeat 50% 50%;
	background-size: cover;
	display: table;
	top: 0;
}

.content {
	max-width: 600px;
	margin: auto;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	padding: 2%;
	text-shadow: 0px 0px 250px #000;
}
.header-name{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 100px;
	padding-left: 80px;
	padding-top: 10px;
	margin: 0;
}
.content p {
	color: #FFF;
}
.inner {
	max-width: 600px;
	margin: auto;
	font-size: 170%;
	line-height: 1.6;
	padding: 10px;
}
/*--- Start Nav --*/
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin: 1em;
  padding-left: 5em;
}

nav a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1.5em;
  color: #fff;
}

nav a:hover,
nav a:focus{
  color: #7f8c8d;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	padding-left: 40px;
}
/*---End Nav --*/
.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}
.sidebar {
	width: 26%;
	float: left;
	margin: 4%;
}
.one-third-port {
	width: 29.333333%;
	padding: 2%;
	float: left;
}
.one-third-port img:hover {
	opacity: .6;
}
.contact p {
	text-align: center;
	letter-spacing: 5px;
}
.contact a {
	color: #2C2C2C;
	text-decoration: none;
}
.break {
	display: none;
}
.clearfix {
	clear: both;
	height: 3%;
}
.parallax {
	background: url("../img/bottom.jpg") repeat fixed 100%;
	opacity: .5;
}
.parallax-inner {
	padding-top: 17%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 270%;
	margin: 1% 5% 7% 4%;
	color: #2C2C2C;
}
.social i:hover {
	color: #606060;
}

@media screen and (max-width: 768px) {
	#menu-icon {
		margin: 26px 0 0 26px;
	}
	nav ul, nav:active ul {
		padding: 8px 0;
		left: 23px;
		top: 34px;
		width: 50%;
	}
	.inner {
		font-size: 120%;
	}
	.content h1 {
		font-size: 180%;
	}
	p {
		font-size: 120%;
	}
	h2 {
		font-size: 160%;
	}
	.left-col {
		width: 96%;
		margin: 0 0 3% 0;
		padding: 0 2%;
	}
	.sidebar {
		width: 96%;
		margin: 0 auto;
	}
	img {
		padding: 2%;
	}
	.one-third-port {
		width: 96%;
		margin: 0 auto;
		padding: 0;
	}
	.break {
		display: block;
	}
	.parallax {
		display: none;
	}
	.social i {
		font-size: 170%;
	}
}